.gene_con_cell {
	width: 100%;
	height: 250px;
	position: relative;
	margin: 20px auto;
}

.gene_con_bg {
	width: 276px;
	height: 166px;
	position: absolute;
	background-size: 100%;
	top: 30%;
	z-index: 2;
}

.gene_con_word {
	position: absolute;
	top: 12%;
}

.gene_con_pic {
	width: 80px;
	height: 130px;
	position: absolute;
	z-index: 9;
	top: 10px;
}

.gene_con_cell:nth-child(odd) .gene_con_bg {
	left: 25px;
	background: url(../images/report/right.png) no-repeat center;
}

.gene_con_cell:nth-child(odd) .gene_con_word {
	left: 90px;
}

.gene_con_cell:nth-child(odd) .gene_con_pic {
	left: 30px;
}

.gene_con_cell:nth-child(even) .gene_con_bg {
	right: 20px;
	background: url(../images/report/left.png) no-repeat center;
}

.gene_con_cell:nth-child(even) .gene_con_word {
	right: 20%;
}

.gene_con_cell:nth-child(even) .gene_con_pic {
	right: 220px;
}

.light {
	position: absolute;
	top: 30%;
	left: 95px;
	background: url(../images/report/light.png) no-repeat;
	height: 30px;
}

.light.lv1 {
	width: 30px;
}

.light.lv2 {
	width: 60px;
}

.light.lv3 {
	width: 100px;
}

.light.lv4 {
	width: 120px;
}

.light.lv5 {
	width: 150px;
}
.gene_con_cell .power{
	position: absolute;
	top: 30%;
	left: 95px;
}
