@charset "utf-8";
/*New reportsOverview*/
.evaluate-wrapper{margin-top: 50px;}
.evaluate-intro{margin-left: 70px;font-size: 18px;line-height: 30px;color: #999999;}
.evaluate-intro h2{font-size: 30px;font-weight: normal;line-height: 90px;color: #666666;}
.evaluate-intro ul li:before{content: "";display: inline-block;height: 1px;margin-top: 11px;margin-left: -5px;margin-right: 15px;vertical-align: top;border-left: 8px solid #666666;border-top: 4px solid transparent;border-bottom: 4px solid transparent;}

.switch-wrapper{height: 75px;margin-bottom: 15px;background-color: #445a73;}
.switch-wrapper .peoSelect{top: 22px;}
.switch-wrapper p{font-size: 18px;line-height: 75px;text-align: center;color: #fff;}
.iAnaly .peoSelect,.iCheck .peoSelect{float: none;position: static;margin: 20px 0;padding: 10px;background: #eeeeee;}
.main-part .peoSelect{position: absolute;top: -42px;right: 0;}

.share_content{position: relative;width: 235px;}
.share_content .share-btn{margin-top: 40px;margin-left: 20px;}
.share_content .share-btn .share_title{display: inline-block;font-size: 12px;line-height: 28px;color: #999999;text-align: center;vertical-align: bottom;}
.share_content .share-qrcode{position: absolute;top: -25px;left: 103px;width: 120px;padding: 5px;background-color: #fff;border: 1px solid #ebebeb;}
.share_content .share-qrcode .share_wechat_image{display: block;width: 100px;height: 100px;margin: 0 auto;background-size: contain;}
.share_content .suggest-btn{display: block;width: 235px;height: 64px;margin-top: 105px;font-size: 25px;line-height: 64px;color: #fff;text-align: center;border-radius: 3px;}
.share_content .suggest-btn:hover{text-decoration: none;}
.jiathis_style_28x28 .jtico_weixin{display: inline-block;width: 28px;height: 28px;margin-left: 5px;background-image: url(/res/desktop/img/share_wx.png)!important;background-position: 0 0!important;vertical-align: bottom;}

.overview-tab{margin-top: 40px;margin-bottom: 60px;}
.overview-tab h3{padding-left: 20px;padding-right: 20px;font-size: 20px;line-height: 58px;color: #666666;background-color: #eff7f9;border: 1px dashed #2096b9;}
.overview-tab h3 a{display: inline-block;width: 72px;height: 20px;margin-top: 19px;font-size: 14px;line-height: 20px;color: #2096b9;text-align: center;background-color: #fff;border: 1px solid #2096b9;border-radius: 3px;}
.overview-tab .over-descript{min-height: 58px;padding-left: 20px;padding-right: 20px;font-size: 18px;line-height: 58px;color: #666666;border: 1px solid #dbe3ed;cursor: pointer;}
.overview-tab .over-descript img{display: inline-block;height: 50px;width: 50px;margin-top: 4px;margin-right: 20px;vertical-align: top;}
.overview-tab .over-descript h4{display: inline-block;margin-right: 20px;font-size: 18px;vertical-align: top;}
.overview-tab .over-descript p{display: inline-block;font-size: 14px;}
.overview-tab .over-descript .table-switch{display: inline-block;width: 22px;height: 20px;margin-top: 19px;cursor: pointer;background-image: url(/res/desktop/img/overview_switch.png);background-repeat: no-repeat;background-position: -1px 5px;}
.overview-tab .over-descript.table-switch-close .table-switch{background-position: -31px 5px;}
.high-risk{color: #e98709;}
.low-risk{color: #b0c311;}

.overview-tab .over-table{width: 960px;margin-top: -1px;margin-bottom: -1px;margin-left: 20px;text-align: center;border: 1px solid #dbe3ed;}
.overview-tab .over-table td{position: relative; height: 58px;padding-left: 20px;padding-right: 20px;font-size: 14px;color: #666666;border-bottom: 1px solid #dbe3ed;}
.overview-tab .over-table td a{color: #2096b9;text-align: left;}
.overview-tab .over-table td.high-risk{color: #e98709;}
.overview-tab .over-table td.low-risk{color: #b0c311;}
.disea-tooltip-fixpos {top:58px; z-index: 1;}

/*trait tag*/
.trait-tag-wrapper{width: 938px;margin: -1px auto;padding: 10px;border: 1px solid #dbe3ed;}
.trait-tag{position: relative;display: inline-block;margin: 10px;padding-left: 34px;padding-right: 12px;height: 26px;font-size: 16px;line-height: 26px;color: #666;background-color: #eff7f9;border-radius: 13px;}
.trait-tag img{position: absolute;top: 1px;left: 1px;display: inline-block;width: 24px;border-radius: 50%;}

/*New Table*/
.repo-tab{margin-top: 20px;}
.repo-tab .repo-descript{padding: 11px 20px;font-size: 20px;font-weight: 400;line-height: 36px;color: #333333;background-color: #eff7f9;border: 1px solid #dbe3ed;cursor: pointer;}
.repo-tab .repo-descript.no-cursor-pointer{cursor: auto;}
.repo-tab .repo-descript img{display: inline-block;width: 36px;height: 36px;margin-right: 15px;vertical-align: bottom;}
.repo-tab.trait-tab .repo-descript img{width: 35px;height: 49px;margin-top: -6px;margin-bottom: -7px;margin-right: 15px;}
.repo-tab .repo-descript p{display: inline-block;margin-left: 25px;font-size: 14px;line-height: 14px;color: #666666;vertical-align: baseline;}

.repo-tab .repo-descript .table-switch{display: inline-block;width: 22px;height: 20px;margin-top: 8px;cursor: pointer;background-image: url(/res/desktop/img/overview_switch.png);background-repeat: no-repeat;background-position: -1px 5px;}
.repo-tab .repo-descript.table-switch-close .table-switch{background-position: -31px 5px;}

.repo-table{width: 960px;margin: 0 auto 45px;color: #333333;text-align: center;border: 1px solid #dbe3ed;table-layout: fixed;border-top: none;}
.repo-table thead tr{font-size: 14px;line-height: 58px;border-bottom: 1px solid #dbe3ed;}
.repo-table thead td{position: relative; padding-left: 20px;padding-right: 20px;}
.repo-table tbody td{height: 58px;padding-left: 20px;padding-right: 20px;font-size: 12px;word-wrap: break-word;border-bottom: 1px solid #dbe3ed;}
.repo-table tbody td a{font-size: 14px;color: #1aa2ce;}
.repo-table tbody td.high-risk,.repo-table tbody td.low-risk{font-size: 14px;}

.sort-intro{margin-top: 20px;margin-bottom: 25px;font-size: 14px;line-height: 30px;color: #999;}
.sort-intro p:before{content: "•";display: inline-block;margin-right: 15px;font-size: 14px;line-height: 30px;color: #2096b9;vertical-align: top;}

/*报告部分对比表格*/
.table-cpr{width: 100%;text-align: center;}
.table-cpr td{padding:10px 20px 9px;height:14px;border: 1px solid #d7e0ea;}
.table-cpr thead td{font-weight:bold;font-size: 16px;line-height: 16px;}
.table-cpr tbody td{font-size: 14px;line-height: 14px;}
.table-cpr tbody tr a{color: #2096b9;}
.no-pack-tip{font-size: 18px;}


.disea-qus {display: inline-block;width: 15px;height: 15px;cursor: pointer;vertical-align: -4%;color: #fff;background-color: #61adc7;border-radius: 50%;line-height: 16px;}
.disea-tooltip {display: none;position: absolute;right: 0;width: 265px;height: 45px;border: 1px solid #8FCADC;background: #EFF7F9;text-align: center;font-size: 12px;color: #333;line-height: 45px;}
.disea-tooltip:before {content: "";position: absolute;display: block;top: -30px;left: 105px;width: 0;height: 0;border-width: 15px 10px;border-style: solid;border-color: transparent transparent #8FCADC transparent;}
.disea-tooltip:after {content: "";position: absolute;display: block;width: 0;height: 0;top: -28px;left: 105px;border-width: 15px 10px;border-style: solid;border-color: transparent transparent #EFF7F9 transparent;}
.disea-tooltip-arrow:before,.disea-tooltip-arrow:after {left: 105px;}
.disea-tooltip:after {content: "";position: absolute;display: block;width: 0;height: 0;top: -28px;left: 105px;border-width: 15px 10px;border-style: solid;border-color: transparent transparent #EFF7F9 transparent;}
.disea-tooltip-arrow2:before,.disea-tooltip-arrow2:after {left: 180px;}

/*healthAdvise*/
.advise-wrapper{padding: 20px;background-color: #fff;}
.advise-wrapper .advice-more{display: inline-block;font-size: 14px;color: #2096b9;}
.advise-intro{font-size: 16px;line-height: 28px;color: #666;}
.advise-intro b{font-weight: normal;color: #333333;}
.advise-tofill {padding-right: 20px;padding-left: 20px;color: #e5585e;line-height: 40px;font-size: 16px;}
a.advise-tofill-btn {float: right;display: block;width: 120px;height: 40px;background: #2ea5df;border-radius: 2px;color: #fff;text-align: center;line-height: 40px;text-decoration: none;}
.advise-refill-link{text-decoration: none;color: #1f95b9;}
.advise-unit{position: relative;margin-top: 20px;margin-bottom: 20px;border: 1px solid #8fcadc;border-radius: 3px;}
.advise-unit-tab{margin-bottom: 18px;padding-right: 10px;padding-left: 10px;width: 55px;height: 30px;background: #1ac4f8;font-size: 18px;color: #fff;line-height: 30px;}
.advise-unit.view-hide{display: none;}
.advise-unit .advise-unit-intro{padding-top: 12.5px;padding-bottom: 12.5px;background-color: #eff7f9;}
.advise-unit .advise-unit-intro h3{margin-bottom: 10px;padding-right: 20px;padding-left: 20px;font-size: 16px;line-height: 20px;color: #333333;}
.advise-unit .advise-unit-intro p{padding-right: 20px;padding-left: 20px;font-size: 14px;line-height: 20px;color: #666666;}
.advise-unit .advise-unit-tags{padding: 12.5px 20px;font-size: 14px;}
.advise-unit .advise-unit-tags h4{;font-weight: normal;color: #666666;}
.advise-unit .advise-unit-tags a{display: inline-block;margin-top: 10px;margin-right: 25px;font-size: 14px;line-height: 14px;color: #61adc7;}
.advise-unit .advise-unit-tags a:before{content: "•";display: inline-block;margin-right: 5px;vertical-align: top;}

/*Habit Jump - BirdAn*/
.habitJump-wrapper {margin: 90px auto 200px auto;padding-left: 60px;width: 490px;background-image: url(/res/desktop/img/habit_doctorPortrait.png);background-attachment: scroll;background-position: 0% 33%;background-repeat: no-repeat;font-size: 16px;}
.habitJump-title {margin-bottom: 10px;color: #333;}
.habitJump-ul li{position: relative;color: #666;line-height: 25px;}
.habitJump-ul li:before {content: "";position: absolute;display: inline-block;top: 11px;left: -13px;width: 5px;height: 5px;border-radius: 50%;background-color: #60acc6;}
.habitJump-list span { color: #e5585e; }
a.habitJump-tofill-Btn {display: inline-block;margin-top: 20px;margin-left: 0px;width: 120px;height: 40px;background-color: #2ea5df;border-radius: 2px;color: #fff;text-decoration: none;text-align: center;line-height: 40px;}
.habitJump-skip-link {display: inline-block;margin-left: 20px;color: #2096b9;}

/*Habit Detail - BirdAn*/
.habit-wrapper {
	margin-top: 50px;
	width: 998px;
	border: 1px solid #8fcadc;
	font-size: 16px;
}
.habit-tab {
	padding: 15px;
	background-color: #eff7f9;
	color: #666;
}
.habit-greeting {
	margin-bottom: 10px;
	color: #333;
	font-size: 18px;
}
.habit-title-lg {
	padding-left: 80px;
	clear: both;height: 80px;
	background-attachment: scroll;background-repeat: no-repeat;
	background-position: 16px 20px;
	background-size: 40px 40px;
	line-height: 80px;
	font-size: 24px;
}
.habit-title-lifestyle {
	background-image: url(/res/desktop/img/habit_lifestyle_icon.png);
	color: #e7575f;
}
.habit-title-basicinfo {
	background-image: url(/res/desktop/img/habit_basicinfo_icon.png);
	color: #b0c311;
}
.habit-choose-wrap {
	float: left;
	padding: 10px 0px 10px 80px;
	width: 410px;
}
.J_habits > .habit-choose-wrap:nth-child(2n+1) {
	clear: left;
}
.habit-img {
	float: left;
	display: block;
	margin-top: 35px;
}
.habit-btngroup {
	float: left;
	display: block;
	margin-top: 30px;
	margin-left: 50px;
	width: 160px;
}
.habit-choose-btn {
	display: block;
	margin-bottom: 12px;
	width: 160px;
	height: 40px;
	border-radius: 2px;
	background-color: #f1f1f1;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.habit-question-wrap {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 80px;
	width: 410px;
	height: 40px;
	line-height: 40px;
}
.habit-input {
	margin-right: 12px;
	margin-left: 12px;
	padding-left: 4px;
	width: 100px;
	border: 2px solid #f1f1f1;
}
.habit-submit-btn {
	margin: 50px auto 20px auto;
	width: 150px;
	height: 40px;
	background-color: #2ea5de;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border: none;
	border-radius: 2px;
}
.habit-hint {
	margin-bottom: 30px;
	text-align: center;
	color: #e7575f;
	font-size: 14px;
}
.habit-profession {
	margin-top: 20px;
	padding-left: 80px;
}
.habit-profession-wrap {
	margin-top: 20px;
	margin-left: 80px;
	width: 900px;
}
.habit-profession-btn {
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 160px;
	height: 40px;
	border-radius: 2px;
	background-color: #f1f1f1;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.habit-btn-selected {
	background-color: #e7575f;
	color: #fff;
}
.habit-title-family {
	color: #efb424;
	background-image: url(/res/desktop/img/habit_family_icon@2x.png);
}
.habit-family-table { /* 家族病史 */
	margin-left: 90px;
	width: 734px;
	color: #333;
	font-size: 14px;
	text-align: center;
}
.habit-family-table th {
	color: #333;
	font-size: 14px;
	font-weight: 200;
}
.habit-family-table tr {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #d4dadd;
}
.habit-family-table td label {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #d4dadd;
	border-radius: 4px;
	background-color: #fff;
	vertical-align: middle;
	cursor: pointer;
}
.habit-family-hook {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/res/desktop/img/habit_family_hook@2x.png);
	background-size: 16px 16px;
}
.habit-family-table .habit-family-line {
	border-bottom: 2px solid #bbc4c9;
}

/*new Details(disease only,maybe public in future)*/
.report-detail{position: relative;background-color: #fff;}
.report-detail h2{font-size: 18px;font-weight: normal;line-height: 60px;text-align: center;color: #333333;background-color: #eeeeee;}

.main-part h3,.sub-part h3{width: 115px;font-size: 18px;font-weight: normal;line-height: 42px;color: #333333;text-align: center;background-color: #f6fafb;}

.main-part .bar-chart{position: relative;width: 480px;height: 28px;margin: 10px auto;}
.main-part .bar-chart .bar-chart-unit{float: left;height: 28px;}
.main-part .bar-chart .low-risk{width: 40%;background-color: #b0c311;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.main-part .bar-chart .high-risk{width: 40%;background-color: #e98709;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.main-part .bar-chart .avg-risk{width: 20%;background-color: #1ac4f8;}
.main-part .bar-chart .pos-mark{position: absolute;top: -15px;width: 20px;height: 65px;margin-left: -10px;background-image: url(/res/desktop/img/bar_chart_pos.png);}

.main-part .myresult{font-size: 14px;border-bottom: 10px solid #f8f8f8;}
.main-part .no-pack-tip{height: 210px;padding-top: 20px;padding-bottom: 20px;border-bottom: 10px solid #f8f8f8;}
.main-part .no-pack-tip p{margin-top: 35px;font-size: 20px;line-height: 20px;text-align: center;color: #2096b9;}
.main-part .no-pack-tip p a{font-size: 18px;line-height: 36px;color: #666666;}

.main-part .myresult .percent{height: 210px;padding-top: 20px;padding-bottom: 20px;text-align: center;}
.main-part .myresult .percent.fn-left{width: 495px;border-right: 10px solid #f8f8f8;}
.main-part .myresult .percent .result-tag{display: block;width: 160px;height: 45px;margin: 20px auto 25px;font-size: 24px;font-weight: normal;line-height: 45px;text-align: center;color: #fff;border-radius: 3px;}
.main-part .myresult .percent .result-tag.mutate-tag{width: 235px;}
.main-part .myresult .percent .result-tag.high-tag{background-color: #efb424;}
.main-part .myresult .percent .result-tag.avg-tag{background-color: #1ac4f8;}
.main-part .myresult .percent .result-tag.low-tag{background-color: #64d28c;}
.main-part .myresult .percent .result-tag.high-light{color: #1ac4f8;width: auto;}
.main-part .myresult .percent b.high-risk{color: #e98709;}
.main-part .myresult .percent b.avg-risk{color: #1ac4f8;}
.main-part .myresult .percent b.low-risk{color: #b0c311;}

.main-part .myresult .stat-wrapper{width: 200px;margin-left: 165px;padding: 1px 35px 10px 10px;border-left: 2px solid #eeeeee;border-bottom: 2px solid #eeeeee;}
.main-part .myresult .stat-wrapper.stat-trait{margin-top: 20px;margin-left: 195px;}
.main-part .myresult .stat-wrapper.stat-trait .statistics-bar span{left: -205px;width: 185px;}

.main-part .myresult .statistics{width: 495px;height: 210px;padding-top: 20px;padding-bottom: 20px;}
.main-part .myresult .statistics h4{margin-bottom: 10px;font-size: 16px;line-height: 42px;color: #333333;text-align: center;}
.main-part .myresult .statistics .statistics-bar{position: relative;height: 27px;margin-top: 18px;line-height: 30px;color: #666666;background-color: #eeeeee;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.main-part .myresult .statistics .statistics-bar span{position: absolute;display: inline-block;left: -65px;min-width: 45px;text-align: right;}
.main-part .myresult .statistics .statistics-bar b{position: absolute;right: -65px;font-size: 18px;font-weight: bold;color: #666666;letter-spacing: 0;}
.main-part .myresult .statistics .statistics-bar.high-light{background-color: #1ac4f8;}

.main-part .myresult .analysis{clear: both;margin-top: 55px;padding: 10px 20px;border-top: 10px solid #f8f8f8;}
.main-part .myresult .analysis-left{width: 540px;padding-right: 15px;}
.main-part .myresult .analysis-right{width: 395px;padding-right: 5px;}

.main-part .myresult .text-analy{margin-left: 88px;padding-left: 15px;padding-top: 10px;padding-bottom: 10px;}
.main-part .myresult .text-analy b{display: block;margin-bottom: 5px;font-size: 16px;font-weight: normal;color: #333333;line-height: 30px;}
.main-part .myresult .text-analy p{font-size: 14px;color: #666666;line-height: 24px;}
.main-part .myresult .text-analy span{color: #e32d49;}
.main-part .myresult .text-analy span.multiple{margin-left: 3px;margin-right: 3px;font-size: 18px;font-weight: bold;vertical-align: baseline;}

.main-part .myresult .related{padding: 15px 20px;border-top: 10px solid #f8f8f8;}
.main-part .myresult .related h4{width: 90px;margin-bottom: 15px;text-align: center;color: #333333;border-bottom: 2px solid #61adc7;}
.disea-tag-wrapper .disea-tag{display: inline-block;margin: 5px 35px 5px 0;line-height: 14px;color: #666;}
.disea-tag-wrapper .disea-tag:before{content: '•';display: inline-block;margin-right: 8px;}
.disea-tag-wrapper a.disea-tag{color: #61adc7;}

.main-part .suggest{padding-top: 20px;padding-bottom: 20px;font-size: 14px;}
.main-part .suggest li{display: block;width: 928px;padding: 15px 15px 10px;margin: 12px auto 0;background-color: #f6fafb;border: 1px solid #8fcadc;border-radius: 3px;}
.main-part .suggest li h4{margin-bottom: 10px;font-weight: normal;line-height: 14px;color: #333333;}
.main-part .suggest li p{line-height: 24px;color: #666666;}

.dise-detl-heredity {position: relative;padding-top: 20px;padding-bottom: 20px;}
.dise-detl-heredity p {padding: 15px 20px 0 20px;font-size: 14px;line-height: 25px;}
.dise-detl-qusmark {position: absolute;top: 20px;left: 120px;margin-top: 10px;margin-left: 10px;width: 20px;height: 20px;cursor: pointer;border-radius: 50%;background-color: #76b6cd;color: #fff;text-align: center;font-size: 13px;line-height: 20px;z-index: 10;}
.dise-detl-tooltip {display: none;position: absolute;padding: 4px;top: 70px;left: 20px;width: 257px;height: 60px;border: 1px solid #8FCADC;background: #EFF7F9;text-align: left;font-size: 12px;color: #333;line-height: 20px;}
.dise-detl-tooltip:before {content: "";position: absolute;display: block;top: -30px;left: 108px;width: 0; height: 0;border-width: 15px 10px;border-style: solid;border-color: transparent transparent #8FCADC transparent;}
.dise-detl-tooltip:after {content: "";position: absolute;display: block;width: 0;height: 0;top: -28px;left: 108px;border-width: 15px 10px;border-style: solid;border-color: transparent transparent #EFF7F9 transparent;}

.main-part .mygene{padding-top: 20px;padding-bottom: 20px;}
.main-part .gene-detail-hd{width: 958px;margin: 25px auto 0;font-size: 16px;font-weight: normal;color: #333333;line-height: 58px;text-align: center;background-color: #f6fafb;border: 1px solid #dddddd;}
.main-part .gene-detail-bd{padding-left: 20px;padding-right: 20px;font-size: 14px;color: #666666;}
.main-part .gene-detail-bd table{width: 100%;margin-top: -1px;margin-bottom: 10px;}
.main-part .gene-detail-bd table td{line-height: 48px;text-align: center;border: 1px solid #dddddd;font-size: 14px;color: #666666;}
.main-part .gene-detail-bd table td.low-risk{color: #64d28c;}
.main-part .gene-detail-bd table td.high-risk{color: #efb424;}
.main-part .gene-detail-bd table td a{color: #1aa2ce;}
.main-part .gene-detail-bd .iQus{margin-top: 15px;}

.main-part .gene-detail-bd .authority{position: relative;margin-top: 10px;margin-bottom: 5px;padding-left: 95px;line-height: 25px;}
.main-part .gene-detail-bd .authority i{position: absolute;top: 4.5px;left: 0;font-style: normal;line-height: 16px;}
.main-part .gene-detail-bd .authority i:after{content: "";display: inline-block;width: 17px;height: 16px;margin-left: 7px;vertical-align: top;background-image: url(/res/desktop/img/star_ico.png);}
.main-part .gene-detail-bd .authority i.star-light:after{background-position: 0 0;}
.main-part .gene-detail-bd .authority i.star-dark:after{background-position: 0 -20px;}

.sub-part .relevant{padding-top: 20px;padding-bottom: 20px;font-size: 14px;line-height: 25px;color: #666666;}
.sub-part .relevant h4{width: 65px;margin-bottom: 5px;text-align: center;color: #333333;border-bottom: 2px solid #61adc7;}
.relevant .intro,.relevant .cause,.relevant .feature,.relevant .factor{width: 960px;margin: 0 auto 12px;padding-top: 12px;}
.relevant .cause,.relevant .feature{border-top: 1px solid #dddddd;}
.relevant .factor b{display: block;}

.position{width: 960px;margin: 0 auto 12px;padding-top: 12px;}
.position span{padding-left: 20px;font: normal 20px Arial;color: #e32d49;}
.position p{text-indent: 0;margin: 25px 0 10px;padding-left: 20px;}
.position p i{font-size: 20px;color: #e32d49;}

.genechart{width: 960px;margin: 0 auto 12px;padding-top: 12px;}
.sub-part .relevant .genechart h4{display: inline-block;width: auto;}
.rna-chart{position: relative;padding: 0 10px;}
.rna-chart .iQus{position: absolute;left: 555px;top: 32px;z-index: 11;font-weight: normal;}
.gene-tooltip-arrow:before,.gene-tooltip-arrow:after{left: 147px;}

.shitlegend{position:relative;height: 30px;background: #fff;margin-top: -20px;text-align: center;}
.shitlegend li{display: inline-block;margin-left: 35px;font: normal 14px Arial;line-height: 30px;}
.shitlegend li .bLegend{display: inline-block;width: 12px;height: 12px;margin-right: 5px;}

.paginator{padding-top: 10px;padding-bottom: 10px;font-size: 14px;line-height: 20px;color: #333333;}
.paginator span a{display: inline-block;max-width: 185px;color: #2096b9;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;vertical-align: bottom;}

/*publicDetails*/
.panel-hd{padding: 0 22px;height: 45px;font-weight: bold;font-size: 16px;line-height: 45px;color: #fff;background-color: #999999;}
.panel-bd{width: 888px;margin: -1px auto 10px;padding: 10px 35px;border: 1px solid #e7e7e7;}
.panel-bd .nameLine{height:30px;color: #666666;text-indent: 0;}.panel-bd .nameLine i a{color: #61adc7;}
.panel-bd .nameLine i{display: inline-block; height: 30px;font-weight: bold;font-size: 20px;line-height: 25px;color: #61adc7;margin-right: 20px;vertical-align: middle;}
.panel-bd .geneLine{text-indent: 0;font-weight: bold;font-size: 16px;color: #666;line-height: 25px;}
.panel-bd .geneLine a{display: inline-block;font-weight: bold;font-size: 16px;color: #61adc7;}
.panel-bd .geneLine span{margin-right: 25px}
.panel-bd .resultLine{display: block;font-weight: bold;font-size: 15px;line-height: 25px;color: #333333;margin-top: 20px;}

.mutatetag-T{display: inline-block;margin-left: 15px;padding: 6px 9px;font-size: 14px;line-height: 14px;background-color: #e32d49;color: #fff;vertical-align: middle;}
.mutatetag-F{display: inline-block;margin-left: 15px;padding: 6px 9px;font-size: 14px;line-height: 14px;background-color: #20c046;color: #fff;vertical-align: middle;}
.sicktag-T{display: inline-block;width: 110px;height: 30px;margin-left: 25px;font-weight: bold;font-size: 16px;line-height: 30px;background-color: #fbe0e4;color: #e32d49;text-align: center;border-radius: 1px;}
.sicktag-F{display: inline-block;width: 155px;height: 30px;font-weight: bold;font-size: 16px;line-height: 30px;background-color: #def6e3;color: #20c046;text-align: center;border-radius: 1px;}



