.titlec{line-height:64px;color:#1eb9ee;font-size:36px;font-weight:normal;}
.titlec>span{float: left;margin: 0 80px 0 405px;}
.desc{margin-top:60px}

.desc p.first{color:#555555;font-size:18px;padding-bottom:20px;}
.desc p.second{color:#555555;font-size:18px;padding-top:115px;}
