.topnav{overflow:auto;padding:10px 0;}
.overflow{overflow:auto;}

h3.titlec1{font-size:30px;color:#808080;font-weight:normal;width:224px;}
.jiedu{padding:15px;border:1px solid #b5b5b5;width:854px;line-height:24px;}
h3.titlec2{font-size:30px;color:#808080;font-weight:normal;width:560px;}
.right .cont1{margin-top:50px;}

table{width:830px;text-align:center;border-top:4px solid #d2d2d2}
table tr{border-bottom:1px solid #c9c9c9;color:#515151;height:50px}
.ck{width:200px;padding:10px 455px;float:left;}
.ck a{margin:0 10px;}
.advice{border-top:4px solid #d2d2d2;border-bottom:4px solid #d2d2d2}
h3.titlec3{font-size:30px;color:#808080;font-weight:normal;width:360px;}
.advice{padding:15px;width:720px;}
.ckwx{float:right;margin:15px;}
